version: '3.9'


services:

    db:
       image: postgres:16
       container_name: db
       environment: 
            POSTGRES_USER: arhippticyn
            POSTGRES_PASSWORD: Arhip2010
            POSTGRES_DB: react_jwt_db
       ports:
          - "5433:5432"


       volumes:
         - pgdata:/var/lib/postgresql/data

    redis:
       image: redis:7
       container_name: redis
       ports:
          - "6379:6379"

    backend:
        build:
            context: ./backend
        container_name: backend
        env_file:
            - ./backend/.env
        ports:
            - '8000:8000'
        volumes:
           - ./backend:/app

        depends_on:
           - db

        command: >
                sh -c "
                alembic upgrade head &&
                uvicorn main:app --host 0.0.0.0 --port 8000 --reload
                "


    frontend:
        image: node:20
        container_name: frontend
        working_dir: /app
        volumes:
            - ./frontend:/app
            - /app/node_modules

        ports:
           - '5173:5173'

        command: sh -c "npm install && npm run dev -- --host 0.0.0.0 --port 5173"

        depends_on:
            - backend

volumes: 
   pgdata: