.form {
    display: flex;
    flex-direction: column;
}

.input {
    width: 300px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
}